* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFAF5;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    height: 8000px;
    background: var(--primary-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/* ======================Common====================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    line-height: var(--height);
    min-width: 130px;
    border-radius: 999px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--orange {
    color: #FFF;
    background: #FF5B2E;
    border-color: #FF5B2E;
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40);
}

.section__heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19231;
}

.section__desc {
    color: #656689;
    line-height: 1.875;
}

.section__label {
    color: #5E6085;
    font-family: Sora, sans-serif;
    font-weight: 600;
}

.nobreak {
    white-space: nowrap;
}

/* ======================Header====================== */
.header {
    padding: 26px 0px 8px;
    position: sticky;
    top: -18px;
    z-index: 9;
    background-color: var(--primary-color);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px;
}

/* ======================Hero====================== */
.hero {
    margin-top: 92px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    padding-bottom: 94px;
    display: flex;
    position: relative;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 3px solid #FFF;
    border-radius: 16px;
    background: #FE997B;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor1 {
    bottom: 9.53px;
    left: -58px;
}

.hero__decor2 {
    top: 16.66px;
    right: -39.5px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    border: 2px solid #FDE0E2;
    background: #FAA7AD;
    align-self: flex-end;
    margin-left: -23px;
    margin-bottom: -58px;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #FEC23F;
}

.hero-list-item:nth-child(3) .hero-list-item__thumb {
    background-color: #C6E2FA;
}

.hero-list-item__title {
    color: #181E52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-list-item__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 999px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__skeleton-short {
    margin-top: 6px;
    width: 39px;
}

.hero__list--line {
    margin: 20px 0px;
    width: 100%;
    height: 2px;
    background: #F2F2F2;
    border-radius: 999px;
}

.hero__heading {
    max-width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15152;
}

.hero__desc {
    max-width: 391px;
    margin-top: 24px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__btn {
    --height: 60px;
    min-width: 189px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__sub-btn {
    margin-left: 24px;
    color: #000958;
    font-weight: 500;
}

.hero__sub-btn:hover {
    text-decoration: underline;
}

/* ======================About====================== */
.about {
    margin-top: 85px;
    padding: 53px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    margin-bottom: 15px;
}

.about__heading {
    max-width: 446px;
    margin-bottom: 24px;
}

.about__desc {
    max-width: 431px;
}

.about__checklist {
    margin-top: 54px;
    margin-left: 34px;
    display: grid;
    grid-template-columns: 223px 223px;
    row-gap: 40px;
    column-gap: 36px;
}

.about__check-item {
    position: relative;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
}

.about__check-item::before {
    content: "";
    position: absolute;
    top: -5.5px;
    left: -34px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #FF5D31;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    content: "";
    position: absolute;
    left: -28px;
    display: inline-block;
    width: 11px;
    height: 7px;
    rotate: -45deg;
    border: 2px solid #FFF;
    border-top: transparent;
    border-right: transparent;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 30px 26.5px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.42857;
}

.about__card-decor {
    position: absolute;
    top: -35.5px;
    right: -32px;
    
}

.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}

.about__img-wrap::after {
    content: "";
    display: inline-block;
    height: 336px;
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
    object-fit: cover;
}

.about__media-decor {
    position: absolute;
    top: 149px;
    right: -51px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 12.5px;
    right: 63.16px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -54.58px;
    right: -43px;
}

.about__desc-bottom {
    max-width: 511px;
    margin-top: 24px;
    margin-bottom: 52px;
}

.tab__content-desc {
    max-width: 391px;
    font-size: 1.4rem;
    line-height: 1.71429;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__list::before,
.tab__item--active::after,
.tab__content-more::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.07;
    background: #FF5B2E;
    border-radius: 99px;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.tab__item:nth-child(1) .tab__icon {
    width: 22px;
}

.tab__item:nth-child(2) .tab__icon {
    width: 21.021px;
}

.tab__item:nth-child(3) .tab__icon {
    width: 24px;
}

.tab__title {
    color: #48496A;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #FF5D31;
    font-weight: 500;
}

.tab__content-more::after {
    height: 1.5px;
    bottom: -5px;
    opacity: 0;
}

.tab__content-more:hover::after {
    opacity: 1;
}

/* ======================Service====================== */
.service {
    margin-top: 130px;
    padding: 68px 135px 100px;
    background: #FFF6ED;
}

.service__label {
    text-align: center;
}

.service__heading {
    margin-top: 15px;
    text-align: center;
}

.service__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
}

.service__column:not(:nth-child(2)) {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service-item {
    width: 294px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
    transition: box-shadow 0.25s, transform 0.25s;
}

.service-item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1.03);
}

.service-item__heading {
    position: relative;
    padding-left: 13px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__heading::before {
    content: "";
    display: inline-block;
    height: 2.2rem;
    width: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 99px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71429;
}

.service-item__more {
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
}

.service-item__more:hover {
    text-decoration: underline;
}

.service__media {
    position: relative;
    margin-top: 27px;
}

.service__media::before {
    content: "";
    display: inline-block;
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 11.4px;
    right: 11.4px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

.service__cta-warp {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    min-width: 214px;
    border: 1px solid #FF5B2E;
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
    transition: opacity 0.25s, box-shadow 0.25s;
}

.service__cta:hover {
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
